.toy-details {
    position: relative;
    .label-pill {
        list-style-type: none;
        border-radius: 2em;
        border: 1px solid $clr3;
        width: max-content;
        padding: 0.4em;
    }
    .fa-x,
    .fa-plus {
        margin-inline-start: 0.6em;
        cursor: pointer;
    }
    .back-icon {
        position: absolute;
        top: 2.5em;
        right: 3em;
    }
}
