*,
*::before,
*::after {
    box-sizing: border-box;
}

html{

}

body {
    margin: 0;
    background-color: $clr1;
  
}

h1, h2, h3, h4, h5, h6 {
  
}

h1 {
    
}

h2 {

}

h3 {

}

img {
    width: 100%;
}


a {
    text-decoration: none;
}


